DATABASE_URL=

GOOGLE_GENERATIVE_AI_API_KEY=
# AI_IMAGE_PROVIDER=google
# AI_IMAGE_MODEL=gemini-3.1-flash-image
AI_RATE_MODEL=gemini-2.5-flash-lite

AI_IMAGE_PROVIDER=cloudflare
AI_IMAGE_MODEL=@cf/black-forest-labs/flux-1-schnell
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=