DATABASE_URL=

GOOGLE_GENERATIVE_AI_API_KEY=

AI_RATE_PROVIDER=tavily
TAVILY_API_KEY=
AI_RATE_CF_MODEL=@cf/meta/llama-3.3-70b-instruct-fp8-fast

AI_IMAGE_PROVIDER=cloudflare
AI_IMAGE_MODEL=@cf/black-forest-labs/flux-1-schnell
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=